<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop Slider</title>
</head>
<body>
    <h1 id="js">loop</h1>
    <img src="<%= require('../images/slider01.jpg') %>" alt="">
    <img src="<%= require('../images/slider02.jpg') %>" alt="">
    <img src="<%= require('../images/slider03.jpg') %>" alt="">
    <img src="<%= require('../images/slider04.jpg') %>" alt="">
    <img src="<%= require('../images/slider05.jpg') %>" alt="">
    <img src="<%= require('../images/slider06.jpg') %>" alt="">
    <p>text</p>
</body>
</html>